@import 'styles/globals';

.new-item {
  background-color: $background-color;
  margin: 1%;
  border: solid $color-secondary 6px;
  width: 20%;
  height: 210px;
  float: left;
  padding: 10px;

  &-title {
    position: relative;
    top: 90px;
    color: $color-primary;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }

  &-category {
    position: relative;
    top: 95px;
    color: $color-primary;
    text-align: center;
    font-size: 12px;
  }

  &-image {
    width: 100%;
  }
}

.new-item:hover {
  border: solid $color-accent 7px;
  cursor: pointer;
}