@import 'styles/globals';

.new-item {
  background-color: $background-color;
  position: relative;
  float: left;
  width: 33.33%;
  margin: 0;

  &-title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $color-primary;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }

  &-category {
    color: $color-primary;
    text-align: center;
    font-size: 12px;
  }

  &-image {
    opacity: 1;
    display: block;
    width: 100%;
    cursor: pointer;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  &-image:hover {
    opacity: 0.3;
  }
}
