@import 'styles/globals';

.notice {

  &-header {
    padding: 5%;
    position: relative;
    height: 300px;
    top: 100px;

    &-title {
      font-family: $titles;
      color: $color-accent;
      font-size: 46px;
      text-align: center;
    }

    &-subtitle {
      font-family: $titles;
      color: $color-secondary;
      font-size: 32px;
      padding: 20px 120px;
      text-align: center;
    }
  }

  &-category_name {
    position: relative;
    top: 180px;
    font-family: $titles;
    color: $color-primary;
    background-color: $background-color-terciary;
    font-size: 22px;
    padding: 10px;
    text-align: center;
  }

  &-img {
    position: relative;
    top: 180px;
  }

  &-img img{
    width: 100%;
  }

  &-epigraph {
    position: relative;
    top: 180px;
    font-family: $titles;
    color: $color-primary;
    background-color: $background-color-secondary;
    font-size: 18px;
    padding: 10px;
    text-align: center;
  }

  &-main {
    position: relative;
    top: 180px;
    font-family: $noticia;
    color: #555;
    padding: 6% 20%;

    &-description {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 30px;
    }

    &-paragraph {
      font-size: 20px;
      margin-bottom: 30px;

      &-text-block {
        padding: 20px;
      }
    }
  }

  &-social {
    position: relative;
    cursor: pointer;
    top: 140px;
    width: 200px;
    margin: 0 auto;
  }
}

@media only screen and (max-device-width : 768px) {
  .notice-header {
      top: 140px;
      height: auto;
  }
  .notice-title {
    font-size: 30px;
  }
  .notice-subtitle {
    margin-top: 15px;
    font-size: 18px;
  }
  .notice-category_name {
    top: 140px;
  }
  .notice-img {
    top: 140px;
  }
  .notice-epigraph {
    top: 140px;
  }
  .notice-main {
    top: 140px;
  }
  .notice-main-description {
    font-size: 36px;
  }
  .notice-main-paragraph {
    font-size: 32px;
  }
  .notice-social {
    top: 140px;
    width: 204px
  }
}
