@import 'styles/globals';
.notice {
    .placement-block {
        position: relative;
        top: 80px;
    }
    &-img {
        position: relative;
        top: 80px;
    }
    &-img img {
        width: 100%;
    }
    &-title {
        font-family: $titles;
        color: $color-primary;
        font-size: 46px;
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        text-align: center;
        text-shadow: 2px 2px #000;
    }
    &-baseboard {
        &--novedades {
            background-color: $novedades-color;
            position: relative;
            top: 80px;
            font-family: $titles;
            color: $color-primary;
            font-size: 16px;
            padding: 10px;
            text-align: center;
        }
        &--deportes {
            background-color: $deportes-color;
            position: relative;
            top: 80px;
            font-family: $titles;
            color: $color-primary;
            font-size: 16px;
            padding: 10px;
            text-align: center;
        }
        &--lifestyle {
            background-color: $life-style-color;
            position: relative;
            top: 80px;
            font-family: $titles;
            color: $color-primary;
            font-size: 16px;
            padding: 10px;
            text-align: center;
        }
        &--viajes {
            background-color: $viajes-color;
            position: relative;
            top: 80px;
            font-family: $titles;
            color: $color-primary;
            font-size: 16px;
            padding: 10px;
            text-align: center;
        }
        &--ocio {
            background-color: $ocio-color;
            position: relative;
            top: 80px;
            font-family: $titles;
            color: $color-primary;
            font-size: 16px;
            padding: 10px;
            text-align: center;
        }
        &--tecno {
            background-color: $tecno-color;
            position: relative;
            top: 80px;
            font-family: $titles;
            color: $color-primary;
            font-size: 16px;
            padding: 10px;
            text-align: center;
        }
        &--sociales {
            background-color: $sociales-color;
            position: relative;
            top: 80px;
            font-family: $titles;
            color: $color-primary;
            font-size: 16px;
            padding: 10px;
            text-align: center;
        }
        &--moda {
            background-color: $moda-color;
            position: relative;
            top: 80px;
            font-family: $titles;
            color: $color-primary;
            font-size: 16px;
            padding: 10px;
            text-align: center;
        }
        &--conceptotv {
            background-color: $concepto-tv-color;
            position: relative;
            top: 80px;
            font-family: $titles;
            color: $color-primary;
            font-size: 16px;
            padding: 10px;
            text-align: center;
        }
    }
    &-subtitle {
        font-family: $titles;
        color: #555;
        font-size: 32px;
        padding: 50px 20% 30px;
        text-align: left;
        position: relative;
        top: 80px;
    }
    &-main {
        position: relative;
        top: 80px;
        font-family: $noticia;
        color: #555;
        padding: 2% 20%;
        &-description {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 30px;
        }
        &-paragraph {
            font-size: 20px;
            margin-bottom: 30px;
            &-text-block {
                padding: 20px;
            }
        }
    }
    &-social {
        position: relative;
        cursor: pointer;
        top: 140px;
        width: 200px;
        margin: 0 auto;
    }
}

@media only screen and (max-device-width: 768px) {
    .placement-block {
        position: relative;
        top: 150px !important;
    }
    .notice-title {
        font-size: 56px;
        padding: 0 5%;
    }
    .notice-subtitle {
        position: relative;
        top: 150px;
        font-size: 46px;
    }
    .notice-category_name {
        top: 150px;
        font-size: 30px;
    }
    .notice-img {
        top: 150px;
    }
    .notice-baseboard {
        top: 150px;
        font-size: 26px;
    }
    .notice-main {
        top: 150px;
    }
    .notice-main-description {
        font-size: 26px;
    }
    .notice-main-paragraph {
        font-size: 44px;
    }
    .notice-social {
        top: 150px;
        width: 204px
    }
}