@import 'styles/globals';

.notice {
  background-color: #F1F1F1;

  &-header {
    padding: 5%;
  }

  &-title {
    color: $color-accent;
    font-size: 40px;
    text-align: center;
  }

  &-subtitle {
    color: $color-secondary;
    font-size: 22px;
    text-align: center;
  }

  &-category_name {
    color: $color-primary;
    background-color: $color-accent;
    font-size: 14px;
    padding: 10px;
    text-align: center;
  }

  &-epigraph {
    color: $color-primary;
    background-color: $color-secondary;
    font-size: 14px;
    padding: 10px;
    text-align: center;
  }

  &-main {
    color: #555;
    padding: 6% 22%;
  }

  &-description {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
  }
}
