@import 'styles/globals';

.product-item {
  background-color: $background-color-accent;
  color: $color-tertiary;
  width: 90%;
  margin: 10px auto;
  height: 40px;
  padding: 2px 30px;
  border: solid #eeeeee 3px;

  &-title {
    position: relative;
    float: left;
    margin-right: 30px;
    font-weight: bold;
    padding-top: 10px;
  }

  &-subtitle {
    position: relative;
    float: left;
    padding-top: 10px;
  }

  &-action-bar {
    padding-top: 4px;
    position: relative;
    float: right;
  }
}