<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta property="fb:app_id" content="472020159867506" />
    <meta property="og:url" content="http://conceptoactual.com/news.html?id=100" >
    <meta property="og:type" content="article" >
    <meta property="og:title" content="Concepto Actual title" >
    <meta property="og:description" content="Concepto actual news description" >
    <meta property="og:image" content="http://conceptoactual.com/cpanel/imagenes/miniaturas/d9d2ae_avianca-rosario-19052017.jpg" >
    <meta property="og:image:width" content="1200" >
    <meta property="og:image:height" content="630" >
    <script>
        window.fbAsyncInit = function() {
        FB.init({
          appId            : '472020159867506',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v2.10'
        });
        FB.AppEvents.logPageView();
        };
       
        (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
      </script>
  <!--<meta charset="utf-8">
      <meta property="og:url"
        content="http://conceptoactual.com/news.html?id=120" /> 
      <meta property="og:title"
        content="Concepto Actual" /> 
      <meta property="og:description"
        content="Empresa encarga de desarrollar aplicaciones movil y web con calidad" />
      <meta property="og:image"
        content="http://conceptoactual.com/cpanel/imagenes/miniaturas/f47068_Dise%C3%B1o%20sin%20t%C3%ADtulo%20(46).jpg" />
      <meta property="fb:app_id"
        content="472020159867506" />
      <meta property="og:country_name"
        content="Argentina" />
      <meta property="og:type"
        content="article" />-->

  <title></title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="styles.css"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oxygen"
        rel="stylesheet">
  <link rel="stylesheet"
        type="text/css"
        href="jquery/css/slick.css">
  <link rel="stylesheet"
        type="text/css"
        href="jquery/css/slick-theme.css">
  <style>
    #app {
      display: none;
    }

    /* preloader */

    #preloader {
      width: 120px;
      height: 120px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      z-index: 1000;
    }

    #loader {
      background-image: url('images/loading.png');
      width: 125px;
      height: 125px;
      -webkit-animation: spin 2s infinite;
      animation: spin 2s infinite;
    }

    @-webkit-keyframes spin {
      0% {
        transform: rotate(60deg);
      }
      50% {
        transform: rotate(-60deg);
      }
      100% {
        transform: rotate(60deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(60deg);
      }
      50% {
        transform: rotate(-60deg);
      }
      100% {
        transform: rotate(60deg);
      }
    }
  </style>
</head>

<body>
  <!-- Load Facebook SDK for JavaScript -->

  <div id="app"></div>
  <script src="./bundle.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"
          type="text/javascript"></script>
  <div id="preloader">
    <div id="loader"></div>
  </div>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"
          type="text/javascript"></script>
  <script>
    $(window).load(function () {
      $('#preloader').fadeOut('3000');
      $('#app').fadeIn('7000');
    })
  </script>
  <script src="jquery/js/slick.js"
          type="text/javascript"
          charset="utf-8"></script>
  <script type="text/javascript">
    var $jq = jQuery.noConflict();
    $jq(document).on('ready', function () {
      $jq(".regular").slick({
        dots: false,
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
      });
    });
  </script>
  <script>
    /* function submitAndShare()
    {
      // get the selected answer
      var playerName = 'George L.';
      var val = '';
      var form = document.getElementById('star_trek_quiz');
      var answers = form.elements['answer'];
      
      for(var i=0; i<answers.length; i++)
      {
        if(answers[i].checked)
        {
          val = answers[i].value;
          break;
        }
      }
      
      var title = '';
      var description = '';
      var image = '';
      switch(val)
      {
        case 'Tiberius':
            title = playerName + ' is wise like Yoda!';
            description = 'Congratulations! ' + playerName + ' is the champion of the StarTrek geekhood - and nobody can beat him. Or ... ? Click to play and prove to the ' + playerName + ' that you are as good as  him!';
            image = 'http://drib.tech/fbsharetest/quiz_yoda.jpg';
          break;
        default:
            title = playerName + ' is wise like Jar Jar Binks!';
            description = playerName + 'is the champion of the StarTrek geekhood - NOT! Click to play and prove to the ' + playerName + ' that anybody is better then him!';
            image = 'http://drib.tech/fbsharetest/quiz_jar_jar_binks.jpg';
          break;
      } */
      
      
      // and finally share it
      
    /*   shareOverrideOGMeta(window.location.href,
                title,
                description,
                image);
      
      return false;
    }
     
    function shareOverrideOGMeta(overrideLink, overrideTitle, overrideDescription, overrideImage)
    {
      FB.ui({
        method: 'share_open_graph',
        action_type: 'og.shares',
        action_properties: JSON.stringify({
          object: {
            'og:url': overrideLink,
            'og:title': overrideTitle,
            'og:description': overrideDescription,
            'og:image': overrideImage
          }
        })
      },
      function (response) {
      // Action after response
      });
    } */
     
    document.getElementById("fbShare").addEventListener("click", function() {
      var overrideLink = window.location.href;
      var overrideTitle = document.getElementById('title').innerHTML;
      var overrideDescription = document.getElementById('subtitle').innerHTML;
      var overrideImage = document.getElementById('image').src;

      FB.ui({
        method: 'share_open_graph',
        action_type: 'og.shares',
        action_properties: JSON.stringify({
          object: {
            'og:url': overrideLink,
            'og:title': overrideTitle,
            'og:description': overrideDescription,
            'og:image': overrideImage
          }
        })
      },
        function (response) {
          // Action after response
        });
    });

    function shareOriginal() {
      var overrideLink = window.location.href;
      var overrideTitle = document.getElementById('title')[0].innerHTML;
      var overrideDescription = document.getElementById('subtitle')[0].innerHTML;
      var overrideImage = document.getElementById('image')[0].src;

      FB.ui({
        method: 'share_open_graph',
        action_type: 'og.shares',
        action_properties: JSON.stringify({
          object: {
            'og:url': overrideLink,
            'og:title': overrideTitle,
            'og:description': overrideDescription,
            'og:image': overrideImage
          }
        })
      },
      function (response) {
      // Action after response
      });
    }
    
    </script>
    <script>
      document.getElementsByTagName('body').onload(function() {
        console.log(window);
        var overrideLink = window.location.href;
        var overrideTitle = document.getElementById('title').innerHTML;
        var overrideDescription = document.getElementById('subtitle').innerHTML;
        var overrideImage = document.getElementById('image').src;

        FB.ui({
          method: 'share_open_graph',
          action_type: 'og.shares',
          action_properties: JSON.stringify({
            object: {
              'og:url': overrideLink,
              'og:title': overrideTitle,
              'og:description': overrideDescription,
              'og:image': overrideImage
            }
          })
        },
        function (response) {
          // Action after response
        });
      });
  </script>
</body>
</html>