@import 'styles/globals';

.show-news-page {
  color: $color-tertiary;
  padding: 2px;

  &-recomended {
    position: relative;
    top: 200px;
  }

  &-ads2 {
    position: relative;
    top: 200px;
    width: 100%;
    z-index: 900
  }

  &-ads2 img {
    width: 100%;
  }

  &-footer {
    position: relative;
    top: 180px;
    width: 100%;
    background-color: $background-color-accent;
  }
}
