@import 'styles/globals';

.myfooter {
  margin-top: 50px;
  position: relative;
  height: 140px;
  color: $color-primary;
  padding: 30px 10%;
  background-color: $background-color;

  &-social {
    cursor: pointer;
    position: relative;
    float: right;
  }
}
