@import 'styles/globals';

.footer-concepto {
  height: auto;
  padding: 30px 10%;

  &-logo {
    width: 340px;
    padding: 10px;
    margin: 10px auto;
  }

  &-social {
    margin: 40px 33%;
    cursor: pointer;
    position: relative;
    width: 44%;
  }

  &-copyright {
    font-family: $noticia;
    font-size: 12px;
    color: $color-primary;
    width: 226px;
    margin: 20px auto;
  }
}

@media only screen and (max-device-width : 768px) {
  .demo-page-main {top: 140px}
  .demo-page-ads2 {top: 140px}
  .demo-page-footer {top: 140px}
  .footer-concepto-social {
    margin: 24px 27%;
    width: 54%;
  }
  .footer-concepto-logo {display: none}
  .footer-concepto-copyright {display: none}
  hr {display: none}
}
