@import 'styles/globals';

.footer-concepto {
  height: 140px;
  padding: 30px 10%;

  &-social {
    margin: 24px 34%;
    cursor: pointer;
    position: relative;
    width: 32%;
  }
}

@media only screen and (max-device-width : 768px) {
  .demo-page-main {top: 140px}
  .demo-page-ads2 {top: 140px}
  .demo-page-footer {top: 140px}
  .footer-concepto-social {
    margin: 24px 27%;
    width: 54%;
  }
}
