@import 'styles/globals';

.header {
  background-color: $background-color;
  font-family: $font-primary;
  color: $color-primary;

  &-logo {
    padding: 20px;
  }

  &-navigation {
    position: relative;
    float: right;
    width: 580px;
    top: 55px;
  }
}
