@import 'styles/globals';

.header {
  background-color: $background-color;
  font-family: $font-primary;
  color: $color-primary;
  overflow: hidden;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;

  &-logo {
    padding: 10px;
  }
}

//Mobile Style
@media only screen and (max-width: 720px) {
  .header {
    color: $color-primary;
    height: 80px;

    &-logo {
      position: relative;
      float: right;
      width: 430px;
      padding: 8px 50px;
    }

    &-navigation {
      position: relative;
      float: right;
      width: 580px;
      top: 55px;
    }
  }
}
