@import 'styles/globals';

#particles-js {
  background: $background-gradient;
  font-family: $font-primary;
  color: $color-primary;
  overflow: hidden;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}
.header-logo-block {
  float: left;
  width: 26%;
  margin: 0 0 0 36%;
}
.header-logo {
    padding: 10px;
    width: auto;
    z-index: 1200;
    transition: transform 0.1s;
}
.header-logo:hover {
    -webkit-transform: translateY(-2px);
}
.header-social {
  width: 6%;
  margin: 50px 10px 0 6%;
  z-index: 1200;
  cursor: pointer;
  position: relative;
  float: right;
}
.particles-js-canvas-el {
  position: absolute;
  left: 0
}

//Mobile Style
@media only screen and (max-device-width : 768px) {
  #particles-js {height: 140px}
  .header-logo {
      width: 680px;
      padding: 8px 20px;
  }
  .header-logo-block {
    margin: 0 0 0 18%;
  }
  .header-social {display: none}
}
