@import 'styles/globals';

.link {

  &-facebook {
    background-color: #3B5998;
    color: $color-primary;
    margin: 2px;
    padding: 18px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 50%;
    opacity: 0.5;

    &--no_bubble {
      color: $color-accent;
      padding: 2px;
      font-size: 22px;
      text-decoration: none;
    }
    &--no_bubble:hover {
      color: $color-tertiary;
      text-decoration: none;
    }
  }
  &-facebook:hover {
    opacity: 1;
    color: $color-primary;
  }
  &-linkedin {
    background-color: #0177b5;
    color: $color-primary;
    margin: 2px;
    padding: 18px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 50%;
    opacity: 0.5;
  }
  &-linkedin:hover {
    opacity: 1;
    color: $color-primary;
  }
  &-youtube {
    background-color: #e62117;
    color: $color-primary;
    margin: 2px;
    padding: 18px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 50%;
    opacity: 0.5;
  }
  &-youtube:hover {
    opacity: 1;
    color: $color-primary;
  }
  &-twitter {
    background-color: #55ACEE;
    color: $color-primary;
    margin: 2px;
    padding: 18px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 50%;
    opacity: 0.5;

    &--no_bubble {
      color: $color-accent;
      padding: 2px;
      font-size: 22px;
      text-decoration: none;
    }
    &--no_bubble:hover {
      color: $color-tertiary;
      text-decoration: none;
    }
  }
  &-twitter:hover {
    opacity: 1;
    color: $color-primary;
  }
  &-instagram {
    background-color: #e4405b;
    color: $color-primary;
    margin: 2px;
    padding: 18px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 50%;
    opacity: 0.5;

    &--no_bubble {
      color: $color-accent;
      padding: 2px;
      font-size: 22px;
      text-decoration: none;
    }
    &--no_bubble:hover {
      color: $color-tertiary;
      text-decoration: none;
    }
  }
  &-instagram:hover {
    opacity: 1;
    color: $color-primary;
  }
  &-whatsapp {
    background-color: #25d366;
    color: $color-primary;
    margin: 2px;
    padding: 18px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 50%;
    opacity: 0.5;
  }
  &-whatsapp:hover {
    opacity: 1;
    color: $color-primary;
  }
}

.link:hover {
  opacity: 1;
  color: $color-primary;
}

@media only screen and (max-device-width : 768px) {
  .link-facebook {
    font-size: 24px;
    padding: 20px;
    margin: 2px;
  }
  .link-twitter {
    font-size: 24px;
    padding: 20px;
    margin: 2px;
  }
  .link-whatsapp {
    font-size: 24px;
    padding: 20px;
    margin: 2px;
  }
  .link-instagram {
    font-size: 24px;
    padding: 20px;
    margin: 2px;
  }
  .link-linkedin {
    font-size: 24px;
    padding: 20px;
    margin: 2px;
  }
  .link-youtube {
    font-size: 24px;
    padding: 20px;
    margin: 2px;
  }
}
