@import 'styles/globals';

.navigation {
  width: 100%;
  padding: 10px;
  z-index: 1002;
  position: fixed;
  top: 100px;
  height: 80px;
  background-color: $color-primary;

  &-bar {
  width: 66%;
  margin: 0 17%;
  color: $color-secondary;
  overflow: hidden;

    &-burger-btn {
      display: none;
      border: none;
      background: none;
      position: fixed;
      font-size: 20px;
      color: #fff;
      top: 25px;
      left: 25px;
      outline: none
    }

    &-links {
      color: #333;
      padding: 18px;
      font-size: 14px;
      text-decoration: none;
    }

    &-links:hover {
      color: $color-secondary;
      text-decoration: none;
    }

    &-img {
        padding: 0 24px;
    }
  }
}
//mobile style
@media only screen and (max-width: 720px) {
  .navigation {height: 0; padding: 0}
  .navigation-bar {
    opacity: 0.5;
    width: 100%;
    height: 0px;

    &--opened {
      position: fixed;
      top: 80px;
      opacity: 1;
      width: 100%;
      padding-top: 15px;
      height: 460px;
      background-color: $color-primary
    }
  }
  .navigation-bar-burger-btn {
    display: block;
  }
  .navigation-bar-img {
    display: none
  }
  .navigation-bar-links {
    position: relative;
    text-align: center;
    float: left;
    width: 100%;
    padding: 16px;
    font-size: 14px;
  }
}
