@import 'styles/globals';

.navigation-default-bar {
  width: 100%;
  z-index: 1002;
  position: absolute;
  top: 0px;
  height: 80px;
  background-color: $background-color-primary;
  opacity: 0.8;

  &-links {
    margin-left: 140px;
    width: 760px;
    position: relative;
    float: left;
  }

  &-link {
    width: 12.5%;
    position: relative;
    float: left;
    color: #daa520;
    padding: 26px 0;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
  }

  &-link a {
    text-decoration: none;
    color: $color-primary;
  }

  &-link:hover {
    padding: 15px 20px;
    transform: rotate(25deg);
    background-color: $background-color-primary;
  }

  &-logo-container {
    width: auto;
    float: left;
  }

  &-logo {
    display: block;
    margin: 20px 0 5px 20px;
  }

  &-networks {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 20px;
  }
}

//Responsive Style
@media only screen and (max-width: 1400px) {
  .navigation-default-bar-links { margin-left: 100px; }
}

@media only screen and (max-width: 1340px) {
  .navigation-default-bar-links { margin-left: 30px; }
}

//Responsive Style
@media only screen and (max-width: 1200px) {
  .navigation-default-bar { height: 100px; }
  .navigation-default-bar-links { width: 100%; margin-left: 0;}
  .navigation-default-bar-link { width: 12.5%; font-size: 12px; padding: 10px 0; }
}
