@import 'styles/globals';

.navigation-sticky-bar {

  &--hidden {
      z-index: 1050;
      -webkit-transition: top 0.5s;
      background-color: $background-color-primary;
      width: 100%;
      position: fixed;
      top: -120px;
      height: 40px;
  }

  &--shown {
      z-index: 1050;
      -webkit-transition: top 0.5s;
      background-color: $background-color-primary;
      width: 100%;
      position: fixed;
      top: 0;
      height: 40px;
      opacity: 0.8;
  }

  &-logo-container {
      position: relative;
      width: 270px;
      float: left;
      left: 0;
      height: 40px;
  }

  &-logo {
    position: absolute;
    top: 7px;
    left: 14px;
    width: 220px;
  }

  &-networks {
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 20px;
  }

  & a {
    text-decoration: none;
    color: $color-primary;
  }

  &-link {
    &--novedades, &--deportes, &--lifestyle, &--turismo, &--ocio, &--tecno, &--sociales, &--conceptotv {
      padding: 8px 0 6px 0;      
      width: 7%;
      position: relative;
      float: left;
      color: #daa520;
      text-align: center;
      font-size: 14px;
      text-decoration: none;
      border-bottom: solid 0 orange;
    }
  }

  &-link {  
    &--novedades:hover {
      border-bottom: solid 3px orangered;
      -webkit-animation-name: swing-orange; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
      -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    }
    &--deportes:hover {
      border-bottom: solid 3px deepskyblue;
      -webkit-animation-name: swing-blue; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
      -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    }
    &--lifestyle:hover {
      border-bottom: solid 3px lightgreen;
      -webkit-animation-name: swing-green; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
      -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    }
    &--turismo:hover {
      border-bottom: solid 3px tomato;
      -webkit-animation-name: swing-tomato; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
      -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    }
    &--ocio:hover {
      border-bottom: solid 3px olive;
      -webkit-animation-name: swing-olive; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
      -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    }
    &--tecno:hover {
      border-bottom: solid 3px teal;
      -webkit-animation-name: swing-teal; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
      -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    }
    &--sociales:hover {
      border-bottom: solid 3px saddlebrown;
      -webkit-animation-name: swing-brown; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
      -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    }
    &--conceptotv:hover {
      border-bottom: solid 3px coral;
      -webkit-animation-name: swing-coral; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
      -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    }
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes swing-orange {
  0%   {font-size: 13px; border-bottom: solid 2px orangered;}
  20%  {font-size: 10px; border-bottom: solid 6px orange;}
  60%  {font-size: 16px; border-bottom: solid 2px white;}
  100% {font-size: 14px; border-bottom: solid 3px orangered;}
}

@-webkit-keyframes swing-blue {
  0%   {font-size: 13px; border-bottom: solid 2px deepskyblue;}
  20%  {font-size: 10px; border-bottom: solid 6px cyan;}
  60%  {font-size: 16px; border-bottom: solid 2px white;}
  100% {font-size: 14px; border-bottom: solid 3px deepskyblue;}
}

@-webkit-keyframes swing-brown {
  0%   {font-size: 13px; border-bottom: solid 2px saddlebrown;}
  20%  {font-size: 10px; border-bottom: solid 6px goldenrod;}
  60%  {font-size: 16px; border-bottom: solid 2px white;}
  100% {font-size: 14px; border-bottom: solid 3px saddlebrown;}
}

@-webkit-keyframes swing-coral {
  0%   {font-size: 13px; border-bottom: solid 2px coral;}
  20%  {font-size: 10px; border-bottom: solid 6px peachpuff;}
  60%  {font-size: 16px; border-bottom: solid 2px white;}
  100% {font-size: 14px; border-bottom: solid 3px coral;}
}

@-webkit-keyframes swing-green {
  0%   {font-size: 13px; border-bottom: solid 2px green;}
  20%  {font-size: 10px; border-bottom: solid 6px greenyellow;}
  60%  {font-size: 16px; border-bottom: solid 2px white;}
  100% {font-size: 14px; border-bottom: solid 3px green;}
}

@-webkit-keyframes swing-olive {
  0%   {font-size: 13px; border-bottom: solid 2px olive;}
  20%  {font-size: 10px; border-bottom: solid 6px greenyellow;}
  60%  {font-size: 16px; border-bottom: solid 2px white;}
  100% {font-size: 14px; border-bottom: solid 3px olive;}
}

@-webkit-keyframes swing-orange {
  0%   {font-size: 13px; border-bottom: solid 2px orange;}
  20%  {font-size: 10px; border-bottom: solid 6px yellow;}
  60%  {font-size: 16px; border-bottom: solid 2px white;}
  100% {font-size: 14px; border-bottom: solid 3px orange;}
}

@-webkit-keyframes swing-teal {
  0%   {font-size: 13px; border-bottom: solid 2px teal;}
  20%  {font-size: 10px; border-bottom: solid 6px cyan;}
  60%  {font-size: 16px; border-bottom: solid 2px white;}
  100% {font-size: 14px; border-bottom: solid 3px teal;}
}

@-webkit-keyframes swing-tomato {
  0%   {font-size: 13px; border-bottom: solid 2px tomato;}
  20%  {font-size: 10px; border-bottom: solid 6px orange;}
  60%  {font-size: 16px; border-bottom: solid 2px white;}
  100% {font-size: 14px; border-bottom: solid 3px tomato;}
}