$color-accent: #dc2b7e;
$color-primary: #FFFFFF;
$color-secondary: #0a2548;
$color-tertiary: #f7c938;

$color-primary-darker: darken($color-primary, 20%);
$color-secondary-darker: darken($color-secondary, 20%);
$color-tertiary-darker: darken($color-tertiary, 20%);

$font-primary: "Trebuchet MS", Helvetica, sans-serif;
$titles: "Fjalla One", sans-serif;
$noticia: "Raleway", sans-serif;
$nav-bar: 'Oxygen', sans-serif;

$background-color: #FFFFFF;
$background-color-primary: #191919;
$background-color-secondary: #d2266f;
$background-color-terciary: #3ac8c0;
$background-color-accent: #3ac8c0;
$background-gradient: radial-gradient(ellipse at center, #124e99 0%,#071a33 99%);
